* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: background .5s;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #ee9831;
    padding: 20px;
}

.wrapper {
    background: #fff;
    padding: 25px;
    max-width: 650px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}

input , textarea{
    width: 100%;
    border: 1px solid #ee9831;
    border-radius: 10px;
    padding: 8px 10px;
    font-size: 15px;
}
input:focus , textarea:focus{
    border: inherit;
    outline: 1px solid #ee9831;
}

input[type='radio']{
    width: unset;
    border: none;
    border-radius: none;
    padding: 0;
}
input[type='radio']:focus{
    outline: none;
}
.radio {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contType { 
    flex:  1 1 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.heading span {
    font-size: 16px;
    margin-left: 10px;
}

.wrapper > *{
    margin-bottom: 20px;
}
.paramsection{
    display: none;
}

.paramsection .parameters{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.paramsection .parameters > *{
    margin-right: 20px;
}

.paramsection .parameters > :last-child{
    margin-right: 0;
    background: #ee9831;
    padding: 10px;
    height: 38px;
    width: 38px;
    border-radius: 50%;
    font-size: 17px;
    line-height: 17px;
    color: #fff;
    border: 1px solid #ee9831;
}

.parameters .add:hover{
    background: #fff;
    color: #ee9831;
}
.btn{
    padding: 15px 40px;
    border: 2px solid #ee9831;
    background: #fff;
    border-radius: 50px;
    font-size: 16px;
    color: #ee9831;
    font-weight: bold;
}
.btn:hover{
    background: #ee9831;
    color: #fff;
}
.wrapper h2{
    text-align: center;
}

.output{
    display: none;
}

.output h4{
    margin-bottom: 10px;
}

.response{
    border-left: 10px solid #ee9831;
}
.response p{
    padding: 10px 10px 10px 0;
    border: 1px solid #ee9831;
    color: rgb(70, 68, 68);
    letter-spacing: 1px;
    word-spacing: 3px;
    padding-left: 20px;
}
.block{
    display: block;
}